@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$paddingStart: 0;
$paddingEnd: 10;

@for $padding from $paddingStart through $paddingEnd {
  .padding-#{$padding} {
      padding: #{($padding)}rem;
  }
}

$gapStart: 0;
$gapEnd: 5;

@for $gap from $gapStart through $gapEnd {
  .gap-#{$gap} {
      gap: #{($gap)}rem;
  }
}

.flex{
  display: flex;
}

.align-itmes-baseline{
  align-items: baseline;
}

.background-color-whitesmoke{
  background-color: whitesmoke;
}

.first-type-container{
  padding:0.5rem; 
  border-radius: 0.5rem;
}

.second-type-container{
  padding:0.5rem; 
  border-radius: 0.5rem;
  margin-left:0.2rem
}

.text-align-end{
  text-align: end;
}

.cursor-pointer{
  cursor: pointer;
}

.little-bigger{
  transform:scale(1.5)
}

.height-weight-container{
  background-color: #f44336;
  border-radius: 0.5rem;
  margin-top: 1rem;
  color: white;
}

.toolbar-shadow{
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.12)
}